/* 
Project Name: Angus Website
Client: Me
Author: Me
*/
/******************************************
/* COLOURS
/*******************************************/
/* add a list of colours used in the project */
/* light gray background: #DEE0E2 
 */
/* typefaces: Space Mono for headers, Karla for body;

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/
* {
  box-sizing: border-box; }

.site-content {
  margin-top: 2em; }

img {
  max-height: 15em;
  max-width: 100%;
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%); }

h1, h2, h3 {
  font-family: "Space Mono", monospace; }

.intro {
  display: none;
  margin: 10px; }

.hidden-content h2 {
  font-size: 3.5em; }

.article-container {
  display: inline-block;
  background-color: #f1f2f3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.015) 1px, transparent 1px), linear-gradient(0, rgba(0, 0, 0, 0.015) 1px, transparent 1px);
  background-size: 5px 5px;
  background-position: -1px -1px, -1px -1px; }
  .article-container h3 {
    font-size: 1.5em; }
  .article-container p {
    padding-top: 2em;
    font-size: 1.1em; }
  .article-container img {
    padding-top: 1.5em;
    display: block;
    margin: auto; }

.article-container:hover {
  background-color: #F08C8C;
  background-image: linear-gradient(rgba(0, 0, 0, 0.015) 1px, transparent 1px), linear-gradient(0, rgba(0, 0, 0, 0.015) 1px, transparent 1px);
  background-size: 5px 5px;
  background-position: -1px -1px, -1px -1px; }

p {
  font-family: "Karla", sans-serif; }

body {
  background-color: #DEE0E2; }

.column-full {
  width: 100%; }

.column-one-third {
  display: inline-block;
  width: 33.3%;
  float: left;
  padding: 10px; }

@media only screen and (max-width: 800px) {
  .column-one-third {
    float: none;
    width: 80%;
    display: inline-block;
    margin: auto;
    overflow: hidden; } }

.grid-row {
  clear: left; }
  .grid-row a {
    color: black;
    text-decoration: none; }

.intro {
  font-size: 3.5vw; }
  .intro a {
    font-weight: bold;
    text-decoration: none;
    color: black; }
  .intro a:hover {
    color: #F08C8C;
    text-decoration: underline;
    -webkit-text-decoration-color: #F08C8C;
    text-decoration-color: #F08C8C; }
  .intro sup a {
    color: red; }

.fa {
  font-size: 4.5em;
  padding: 0.2em;
  color: black; }

.fa:hover {
  color: #F08C8C; }

.navigation {
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
  position: fixed;
  right: 0;
  top: 10%;
  width: 8em;
  margin-top: -2.5em; }
  .navigation a {
    color: black; }
  .navigation li a:visited {
    background: red; }
  .navigation li a:hover {
    background: #F08C8C; }
  @media only screen and (max-width: 1300px) {
    .navigation {
      margin-top: 1em;
      position: initial;
      float: left;
      width: 100%; } }

.home-link {
  margin-top: 2em;
  margin-left: 2em; }
  .home-link a {
    display: block;
    width: 3em;
    background-color: #f1f2f3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.015) 1px, transparent 1px), linear-gradient(0, rgba(0, 0, 0, 0.015) 1px, transparent 1px);
    background-size: 5px 5px;
    background-position: -1px -1px, -1px -1px;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    color: black; }
  .home-link a:hover {
    color: #F08C8C;
    text-decoration: underline;
    -webkit-text-decoration-color: #F08C8C;
    text-decoration-color: #F08C8C; }

.active-link {
  background: red; }

.current img {
  max-height: none;
  max-width: 60%;
  display: block;
  margin: auto; }

.article-text {
  display: none; }

.article-text a {
  font-family: "Karla", sans-serif;
  font-size: 2.75vw;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  display: inline-block;
  padding: 2em; }

.article-text a:hover {
  color: #F08C8C;
  text-decoration: underline; }

.rapha-body {
  background-image: url("../images/rapha.jpg"); }

.strava-body {
  background-image: url("../images/strava.jpg"); }

.visualcomms-body {
  background-image: url("../images/visualcomms.jpg"); }

.osborne-body {
  background-image: url("../images/osborne.jpg"); }

.scher-body {
  background-image: url("../images/paulascher.jpg"); }

.site-footer {
  clear: all; }
  .site-footer p {
    font-family: "Karla", sans-serif;
    font-size: 1.5em; }

/******************************************
/* TYPOGRAPHY
/*******************************************/
/* add type styles here */
/******************************************
/* LAYOUT                   
/*******************************************/
.site-container {
  max-width: 960px;
  margin: 0 auto; }

.site-footer {
  clear: left; }

/******************************************
/* HELPER CLASSES
/*******************************************/
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.is-hidden {
  display: none; }

.is-visible {
  display: block; }

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
